<div class="d-flex flex-column justify-content-center align-items-center">
    <img src="{{ img_path }}empty_state_no_data_table.png" height="200px" alt="Empty state">

    <br>

    <p>
        {{ empty_state_text }}
    </p>
</div>
