<div class="alert alert-danger"
     style="display: none;"
     id="registration_form_password_error"
     role="alert">
    <p class="alert-text">
        {{ 'Passwords do not match'|trans({}, 'Modules.Molonies.Common') }}
    </p>
</div>