<div class="modal fade"
     id="log_{{ log_id }}"
     tabindex="-1"
     role="dialog"
     aria-hidden="true">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {{ 'Log payload'|trans({}, 'Modules.Molonies.Common') }}
                </h5>
                <button
                        type="button"
                        class="close"
                        data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <pre class="text-left overflow-auto"
                     style="max-height: 30rem;">{{ payload_data|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-outline-secondary"
                        data-dismiss="modal">
                    {{ 'Close'|trans({}, 'Modules.Molonies.Common') }}
                </button>
            </div>
        </div>
    </div>
</div>
