<div>
    {% if hasMore %}
        <div class="d-flex align-items-center">
            <div class="spinner spinner-primary"></div>
            &nbsp
            {{ '{0} products processed'|trans({'{0}': processedProducts}, 'Modules.Molonies.Common') }}
        </div>

        <br>

        <div class="alert alert-info" role="alert">
            <p class="alert-text">
                {{ 'Please wait, exporting in progress'|trans({}, 'Modules.Molonies.Common') }}
            </p>
        </div>
    {% else %}
        <p>
            {{ '{0} products processed'|trans({'{0}': processedProducts}, 'Modules.Molonies.Common') }}
        </p>

        <br>

        <div class="alert alert-success" role="alert">
            <p class="alert-text">
                {{ 'Process complete'|trans({}, 'Modules.Molonies.Common') }}
            </p>
        </div>
    {% endif %}
</div>
