/*
Company select
*/

.moloni-company {
  &--card {
    width: 20rem;
    display: flex;
    align-items: stretch;
  }

  &--wrapper {
    gap: 1rem;
  }

  &--information {
    flex: 1;
  }

  &--image {
    height: 9.5rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0.5rem;

    img {
      max-width: 100%;
      object-fit: contain;
    }
  }
}
