/** Colors **/
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.moloni-login {
  width: 45rem;
}

.moloni-company {
  width: 20rem;
  height: 100%;
}

.moloni-company--wrapper {
  gap: 1rem;
}

.moloni-company--image {
  height: 9.5rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.required::before {
  content: "* ";
  color: #f54c3e;
}

@media (max-width: 599px) {
  .moloni-cenas {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-size: cover;
    font-size: xx-small;
  }
}
