{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
    <h1>Hello there</h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('themes/new-theme/public/cms_page_form.bundle.js') }}"></script>
{% endblock %}
