{% extends '@Modules/molonies/views/templates/admin/Layout.twig' %}

{% block plugin_content %}
    <div class="card">
        <h3 class="card-header">
            <i class="material-icons">article</i>
            {{ 'Created documents'|trans({}, 'Modules.Molonies.Common') }}
        </h3>
        <div class="card-block overflow-auto">
            <table class="table table-striped table-bordered">
                {# Table header #}
                {% include '@Modules/molonies/views/templates/admin/documents/blocks/TableHeader.twig' %}

                {# Table body #}
                {% include '@Modules/molonies/views/templates/admin/documents/blocks/TableBody.twig' %}
            </table>

            {% include '@Modules/molonies/views/templates/admin/components/Paginator.twig' %}
        </div>

        <div class="card-footer">
            <div class="d-flex justify-content-end">
                <a href="{{ path(thisRoute, {page: paginator.currentPage, filters: filters}) }}"
                   class="btn btn-outline-secondary">
                    {{ 'Refresh list'|trans({}, 'Modules.Molonies.Common') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            window.moloni.Documents.startObservers("{{ path(thisRoute) }}");
        });
    </script>
{% endblock %}
