/*
Utilities
*/

.ml-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*
Temporary Fixes
*/

[popover] {
  display: initial;
  position: initial;
  margin: initial;
  border: initial;
  background: initial;
  padding: initial;
  width: initial;
  height: initial;
  overflow: initial;
  inset: initial;
  color: initial;
}
