.cardLogs {
    height: 83%;
}

.consultLogs {
    padding: 10px 20px;
    height: 300px;
    overflow: auto;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.22);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.22);
}

.loginInputText{
    padding: 5px 15px;
}

.loginLabel{
    display: inline;
    border-left:15px;
}

.loginForm {
    margin: auto;
    width: 50%;
    border: 3px solid lightblue;
    padding: 5px;
}

#showMessage, #showMessage2{
    display: none;
    font-weight:bold;
    color: #ff0000;
    margin-left:1%;
    margin-bottom: 1%;
    font-size: 13px;
}

.selectPS, .textPS{
    height:45px !important;
    width:60% !important;
    margin: 1% 0px;
    outline: 0;
    border-width: 0 0 2px !important;
    border-color: dimgray !important;
    -webkit-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.1);
}

.labelPS{
    color: steelblue;
    font-weight:bold;
}

.borderMoloni{
    border-bottom: 2px solid lightgray;
}